<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="TB_DataPipeline"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="TB_DATAPIPELINE"/>
    <stringAttribute key="TALEND_JOB_ID" value="_M9y_oGncEe239ZiFIfYeAg"/>
    <stringAttribute key="TALEND_JOB_NAME" value="standard_job_1"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
